body {
    display: flex;
    justify-content: center; /* Выравнивание по горизонтали */
    align-items: center; /* Выравнивание по вертикали */
    height: 100vh; /* Высота равная высоте окна браузера */
    margin: 0; /* Убираем отступы */
    font-family: Arial;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column; /* Располагаем элементы в столбец */
    align-items: center; /* Выравнивание элементов по центру по горизонтали */
    justify-content: center; /* Выравнивание элементов по центру по вертикали */
    height: 100vh; /* Делаем контейнер на весь экран */
}

.auth_form {
    display: flex;
    flex-direction: column; /* Располагаем элементы в столбец */
    align-items: center; /* Выравнивание элементов по центру по горизонтали */
    margin-top: 20px; /* Отступ сверху */
    background-color: rgb(222, 222, 222);
    padding: 20px;
    border-radius: 10px;
}

.text,
.title {
    color: black;
}

.metro_sign {
    height: 700px;
    /* width: 300px; */
}

button {
    margin-top: 10px; /* Отступ между кнопкой и последним полем формы */
}

.form_button {
    border-radius: 8px;
    border: none;
    background-color: rgb(222, 222, 222);;
    margin-top: 10px;
    padding: 10px;
    padding-left: 32px;
    padding-right: 32px;
    box-shadow: 0 0 0 rgba(0,0,0,0);
    margin-left: 0px;
    font-weight: bold;
    white-space: nowrap;
    transition: opacity 0.3s ease, box-shadow 0.3s ease;
    color: black;
}

.form_button:hover {
    box-shadow: 0 4px 8px 0 black;
}

#admin_token,
#admin_password,
#admin_login {
    padding: 5px;
    border-radius: 5px;
}

